* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    padding-top: 50px;
}

p {
    background-color: transparent;
}

th.cursor {
    cursor: pointer;
}

.menu-content {
    position: absolute;
    display: none;
}

.menu-content-div div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.menu-content label {
    font-size: 1rem;
    color: #212529;
    text-transform: uppercase;
    background: transparent;
}

.menu-content input {
    border: none;
    background-color: #f8f9fa;
    margin: 0 0 20px 0;
}

.menu-content button {
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.usedLanguagebar {
    padding-top: 16px;
    background-color: #f8f9fa;
}

.blinking {
    animation: blinker 3s linear infinite;
    cursor: pointer;
}

.blinking:hover {
    font-weight: bold;
}

.blinking span {
    font-size: 0.7rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.choosedeck-content {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: 160px;
    z-index: 1001;
    transition: all 0.3s ease-in-out;
}

.choosedeck-content p {
    color: #212529;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.choosedeck-content p:hover {
    background-color: #c2cbd1;
}

.choosedeck:hover .choosedeck-content {
    display: block;
}

.flashcard-margin {
    margin-top: 45px;
}

.button-menu-margin {
    margin-top: 30px;
}

.scene {
    margin-top: 5px;
    height: 200px;
    perspective: 800px;
}

.flip-card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-align: center;
}

.flip-card.is-flipped {
    transform: rotateY(180deg);
}

.card_face {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_face--front {
    color: #fcfaf3;
    background: #4da3ff;
}

.card_face--back {
    color: #212529;
    background: white;
    transform: rotateY(180deg);
    flex-direction: column;
}

.card_face--back a {
    font-size: 12px;
    color: #d84b50;
    background: transparent;
}

.card_face--back div {
    background: transparent;
}

.card_face--back p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.center {
    display: flex;
    justify-content: center;
}

.center button {
    margin: 10px;
}
